{
  "sandbox": {
    "base_url": "https://sysmayal.frappe.cloud",
    "api_key": "YOUR_SANDBOX_API_KEY",
    "api_secret": "YOUR_SANDBOX_API_SECRET"
  },
  "production": {
    "base_url": "https://sysmayal.v.frappe.cloud",
    "api_key": "YOUR_PRODUCTION_API_KEY",
    "api_secret": "YOUR_PRODUCTION_API_SECRET"
  }
}
